parameters:
    snowcap_ogone.pspid: ~
    snowcap_ogone.environment: ~
    snowcap_ogone.sha_in: ~
    snowcap_ogone.sha_out: ~
    snowcap_ogone.options: ~
    snowcap_ogone.api.user_id: ~
    snowcap_ogone.api.password: ~
    snowcap_ogone.class: Snowcap\OgoneBundle\OgoneManager
    snowcap_ogone.form_generator.class: Snowcap\OgoneBundle\FormGenerator\SimpleFormGenerator
    snowcap_ogone.direct_link.class: Snowcap\OgoneBundle\OgoneDirectLink

services:
    snowcap_ogone:
        class: %snowcap_ogone.class%
        arguments:
            - @event_dispatcher
            - @logger
            - @snowcap_ogone.form_generator
            - %snowcap_ogone.pspid%
            - %snowcap_ogone.environment%
            - %snowcap_ogone.sha_in%
            - %snowcap_ogone.sha_out%
            - %snowcap_ogone.options%

    snowcap_ogone.form_generator:
        class: %snowcap_ogone.form_generator.class%
        arguments:
            - @twig
            - %kernel.root_dir%
        private: true

    snowcap_ogone.direct_link:
        class: %snowcap_ogone.direct_link.class%
        arguments:
            - @logger
            - %snowcap_ogone.pspid%
            - %snowcap_ogone.environment%
            - %snowcap_ogone.sha_in%
            - %snowcap_ogone.sha_out%
            - %snowcap_ogone.api.user_id%
            - %snowcap_ogone.api.password%
